@import "tailwindcss";

body {
  background-color: oklch(21% 0.034 264.665);
  width: 100vw;
  height: 100vh;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-out forwards;
}
/* Custom horizontal scrollbar */

